<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-3.0.0.js"></script>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	// 一个调用触发链式回调
	getCurrentSession();
}

function getCurrentSession() {
	alert("dsa");
}




</script>
</head>
<body>
<h1>欢迎sprigmvc</h1>


</body>
</html>