<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../../js/jquery-3.0.0.js"></script>
<script type="text/javascript" src="../../js/echarts.js"></script>
<script type="text/javascript" src="../../js/echarts-all.js"></script>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		alert("abc");
	})
})
</script>
</head>
<body>
<h1>欢迎sprigmv11c</h1>
<button id="btn">tm</button>


</body>
</html>